.hotel-card{
    &__price{
        right: 10px;
        bottom: 10px;
        padding: 15px;
        font-size: 1.3rem;
        background-color: getColor( darkblue-holidaze);
    }
    &__read{
        background-color: getColor( red-holidaze);
        color: white;
        // float: right;
        &:hover{
        background-color: getColor( orange-holidaze);
        color: white;

        }
    }
}

.hero{
    &__image{
        height: 50vh;
        background-position: 50% 60%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}