.hotel-card{
    &__price{
        right: 10px;
        bottom: 10px;
        padding: 15px;
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        background-color: getColor( green-holidaze);
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        text-shadow: 1px 1px 2px black;
        }
    &__read{
        background-color: getColor( red-holidaze);
        color: white;
        // float: right;
        &:hover{
        background-color: getColor( orange-holidaze);
        color: white;

        }
    }
}