@font-face {
    font-family: 'monteserrat-bold';
    src:  url('../fonts/Montserrat-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'monteserrat-semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
}